@font-face {
  font-family: "Iskra";
  font-display: swap;
  src: url("../fonts/Iskra-Bold.woff") format("woff"), url("../fonts/Iskra-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Iskra";
  font-display: swap;
  src: url("../fonts/Iskra-Light.woff") format("woff"), url("../fonts/Iskra-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Iskra";
  font-display: swap;
  src: url("../fonts/Iskra-Medium.woff") format("woff"), url("../fonts/Iskra-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Iskra";
  font-display: swap;
  src: url("../fonts/Iskra-Regular.woff") format("woff"), url("../fonts/Iskra-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root";
  font-display: swap;
  src: url("../fonts/PT-Root-UI_Bold.woff") format("woff"), url("../fonts/PT-Root-UI_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root";
  font-display: swap;
  src: url("../fonts/PT-Root-UI_Light.woff") format("woff"), url("../fonts/PT-Root-UI_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root";
  font-display: swap;
  src: url("../fonts/PT-Root-UI_Medium.woff") format("woff"), url("../fonts/PT-Root-UI_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root";
  font-display: swap;
  src: url("../fonts/PT-Root-UI_Regular.woff") format("woff"), url("../fonts/PT-Root-UI_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "PT-Root", sans-serif;
  background: #f2f2f2;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
}

body.overlay {
  margin-right: 17px;
  overflow: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 24px;
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
}

.stroke-white {
  stroke: #fff;
}

a.btn {
  display: inline-flex;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: block;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  transition: all ease .2s;
}

.btn-green {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 32px;
  background: #009974;
  border: 2px solid #009974;
  color: #fff;
  border-radius: 7px;
}

.btn-green:hover {
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

.btn-white {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 32px;
  background: #fff;
  border: 2px solid transparent;
  color: #009974;
  border-radius: 7px;
}

.btn-white:hover {
  border: 2px solid #009974;
  background: #009974;
  color: #fff;
}

.btn-blue {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 32px;
  background: #213A8F;
  border: 2px solid #213A8F;
  color: #fff;
  border-radius: 7px;
}

.btn-blue:hover {
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

.btn-transparent {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 32px;
  color: #009974;
  border: 1px solid #E6E6E6;
  border-radius: 7px;
}

.btn-transparent:hover {
  background: #009974;
  border: 1px solid #009974;
  color: #fff;
}

.btn-transparent-green {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 32px;
  color: #009974;
  border: 1px solid #009974;
  border-radius: 7px;
}

.btn-transparent-green:hover {
  background: #009974;
  border: 1px solid #009974;
  color: #fff;
}

.btn-transparent-blue {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 32px;
  color: #213A8F;
  border: 1px solid #213A8F;
  border-radius: 7px;
}

.btn-transparent-blue:hover {
  background: #213A8F;
  border: 1px solid #213A8F;
  color: #fff;
}

.btn-transparent-red {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 32px;
  color: #A71681;
  border: 1px solid #A71681;
  border-radius: 7px;
}

.btn-transparent-red:hover {
  background: #A71681;
  border: 1px solid #A71681;
  color: #fff;
}

.input-reset {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: block;
  border: none;
  background: none;
  outline: none;
}

.section-title {
  font-family: "Iskra", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}

.slick-arrow {
  position: absolute;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 7px;
  z-index: 3;
}

.slick-arrow svg {
  stroke: #009974;
  width: 14px;
  height: 14px;
  display: block;
}

.slick-arrow--prev {
  top: calc(50% - 17px);
  left: 0;
}

.slick-arrow--next {
  top: calc(50% - 17px);
  right: 0;
}

.slick-arrow--next svg {
  width: 14px;
  height: 14px;
  display: block;
  transform: rotate(180deg);
}

.green {
  color: #009974;
}

.costum-radio {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 27px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.costum-radio input {
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}

.costum-radio input:checked ~ .control_indicator:after {
  display: block;
}

.costum-radio .control_indicator {
  position: absolute;
  top: 0;
  right: 20px;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 50%;
}

.costum-radio .control_indicator::after {
  content: url(../img/icon/check.svg);
  position: absolute;
  top: -2px;
  left: 4px;
  display: none;
}

.rellax {
  z-index: 2;
}

.banner-link {
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: #fff;
}

.banner-link .container {
  max-width: 1200px;
  padding: 10px 0;
  background: #213A8F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-link span {
  margin-right: 21px;
}

.underline {
  text-decoration: underline;
}

.site-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.page {
  flex-grow: 1;
}

.hide {
  display: none;
}

.green {
  color: #009974;
}

.enter-banner__inputs .custom-select__header.active .custom-select__arrow {
  transform: rotate(0deg);
}

.color-purple {
  color: #A71681;
}

.color-green {
  color: #009974;
}

.costum-input {
  position: relative;
}

.costum-input.filed .costum-calendar {
  border-color: #009974;
  color: #009974;
  font-size: 12px;
  line-height: 18px;
}

.costum-input.error .costum-calendar {
  border-color: #a71681;
}

.costum-input input,
.costum-input textarea {
  font-family: "PT-Root", sans-serif;
  padding: 10px 10px 10px 38px;
  display: block;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 7px;
  transition: all ease .2s;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  display: block;
  width: 100%;
  resize: none;
}

.costum-input input.costum-calendar,
.costum-input textarea.costum-calendar {
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.costum-input input.costum-calendar::-moz-placeholder,
.costum-input textarea.costum-calendar::-moz-placeholder {
  color: #b3b3b3 !important;
}

.costum-input input.costum-calendar:-ms-input-placeholder,
.costum-input textarea.costum-calendar:-ms-input-placeholder {
  color: #b3b3b3 !important;
}

.costum-input input.costum-calendar::placeholder,
.costum-input textarea.costum-calendar::placeholder {
  color: #b3b3b3 !important;
}

.costum-input input:hover,
.costum-input textarea:hover {
  border-color: #009974;
}

.costum-input input:focus,
.costum-input textarea:focus {
  border-color: #009974;
}

.costum-input input.error,
.costum-input textarea.error {
  border-color: #a71681;
}

.costum-input__icon {
  top: 13px;
  left: 14px;
  position: absolute;
}

.shadow-icon {
  margin: 0 auto 24px;
  position: relative;
  width: 66px;
  height: 66px;
  background: rgba(242, 242, 242, 0.9);
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.shadow-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

custom-select.error .costum-calendar {
  border-color: #a71681;
}

label.error {
  display: block;
  color: #a71681;
  position: absolute;
  bottom: -21px;
  left: 0;
  font-size: 12px;
}

.custom-file {
  position: relative;
  margin-right: 20px;
  background: #fff;
  color: #009974;
  border: 1px solid transparent;
  padding-right: 10px;
}

.custom-file:hover {
  background: #009974;
  color: #fff;
}

.custom-file__text {
  margin-right: 14px;
}

.custom-file__icon {
  font-size: 22px;
}

.custom-file input {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.faq {
  padding-bottom: 100px;
}

.faq__title {
  margin-bottom: 70px;
}

.cabinet-numbers.faq__wrapper .cabinet-numbers__item:not(:last-child) {
  margin-bottom: 0;
}

.about__container {
  padding: 0 84px;
}

.about__title {
  margin-bottom: 70px;
}

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.about-item {
  width: 20%;
  margin-right: 6.5%;
  margin-bottom: 40px;
}

.about-item:nth-child(3n) {
  margin-right: 0;
}

.about-item--big {
  width: 46.9%;
}

.about-item__photo {
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 26px;
  min-height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-item__descr {
  max-width: 200px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #009974;
}

.about-unit {
  background: #f2f2f2;
}

.about-unit__text:not(:last-child) {
  margin-bottom: 24px;
}

.about-unit__text-block {
  padding: 50px 67px 50px 60px;
  max-width: 780px;
  width: 100%;
  background: #F2F2F2;
  box-shadow: 0px 7px 40px -7px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.about-banner__photo {
  min-height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-banner__content {
  position: relative;
  margin-top: -24%;
}

.about-banner__title {
  color: #fff;
  padding-left: 60px;
  margin-bottom: 50px;
}

.about-banner__fly-icon--first {
  left: 748px;
  bottom: 75px;
}

.about-banner__fly-icon--second {
  bottom: 207px;
  right: 60px;
}

.about-feature {
  padding-top: 151px;
  position: relative;
  margin-bottom: 150px;
}

.about-feature__top {
  position: relative;
  z-index: 4;
  margin-bottom: 72px;
}

.about-feature__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 62px;
}

.about-feature__border-photo {
  max-width: 240px;
  width: 100%;
  margin-right: 50px;
}

.about-feature__border-photo img {
  display: block;
  width: 100%;
  height: auto;
}

.about-feature__content {
  max-width: 657px;
  width: 100%;
}

.about-feature__photos {
  display: flex;
}

.about-feature__photo {
  min-height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-feature__photo:not(:last-child) {
  margin-right: 6%;
}

.about-feature__photo:first-child {
  width: 40%;
}

.about-feature__photo:nth-child(2) {
  width: 28%;
}

.about-feature__photo:last-child {
  width: 20%;
}

.about-feature__pattern-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 180px;
  background-image: url(../img/Illustration-line.png);
  background-repeat: repeat-y;
  background-size: contain;
  width: 170px;
  height: 100%;
  z-index: -1;
}

.about-landmarks {
  margin-bottom: 150px;
  padding-bottom: 113px;
  position: relative;
}

.about-landmarks__text-block {
  position: relative;
  z-index: 4;
}

.about-landmarks__back {
  padding-top: 53px;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.about-landmarks__back-photo:first-child {
  top: 200px;
}

.about-landmarks__back-photo:not(:last-child) {
  margin-right: 72px;
  position: relative;
}

.about-landmarks__fly-icon--first {
  position: absolute;
  right: -33px;
  bottom: 83px;
}

.about-landmarks__fly-icon--second {
  position: absolute;
  left: -33px;
  top: -33px;
}

.about-active {
  margin-bottom: 150px;
}

.about-active__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 150px;
}

.about-active__content {
  max-width: 660px;
  width: 100%;
  margin-right: 20px;
}

.about-active__photo {
  max-width: 332px;
  width: 100%;
}

.about-active__photo img {
  width: 100%;
  height: auto;
}

.about-active__big-photo img {
  display: block;
  width: 100%;
  height: auto;
}

.hospitality__fly-icon {
  position: absolute;
  bottom: -33px;
  right: -33px;
  z-index: 2;
}

.hover-photo {
  position: relative;
  filter: grayscale(100%);
  transition: all .2s;
}

.hover-photo:hover {
  filter: grayscale(0%);
}

.about-feature.about-feature--hospitality {
  padding-top: 0;
}

.green-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #009974;
  margin-bottom: 32px;
}

.recomeded-tour {
  margin-bottom: 150px;
}

.recomeded-tour__title {
  max-width: 476px;
  width: 100%;
}

.error-window .popup__title {
  margin-bottom: 10px;
}

.error-window .green-link {
  color: #009974;
}

.error-window .cabinet-window__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0 auto;
}

.privacy {
  padding-bottom: 150px;
}

.privacy:not(:last-child) {
  margin-bottom: 70px;
}

.privacy__wrapper {
  max-width: 720px;
  width: 100%;
  padding-left: 61px;
}

.privacy__title {
  margin-bottom: 70px;
}

.privacy__block-title {
  margin-bottom: 40px;
}

.privacy__block:not(:last-child) {
  margin-bottom: 63px;
}

.privacy__text {
  margin-bottom: 40px;
}

.privacy__text p:not(:last-child) {
  margin-bottom: 24px;
}

.privacy__img img {
  display: block;
  width: 100%;
  height: auto;
}

.privacy__list-elem {
  padding-left: 47px;
  position: relative;
}

.privacy__list-elem::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #009974;
}

.privacy__list-elem:not(:last-child) {
  margin-bottom: 14px;
}

.privacy__block-title-small {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 33px;
}

.privacy__list--num .privacy__list-elem::before {
  content: attr(data-num);
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #009974;
  width: auto;
  height: auto;
  border-radius: 0;
  background: none;
  top: 2px;
  left: 1px;
}

.privacy__links .cabinet-numbers__item:not(:last-child) {
  margin-bottom: 30px;
}

.privacy .green-link {
  color: #009974;
  text-decoration: underline;
}

.privacy-quote__text {
  position: relative;
  padding: 24px 24px 24px 80px;
  background: #E6E6E6;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  margin-bottom: 14px;
}

.privacy-quote__text::before {
  content: url(../img/privacy/quote_1.svg);
  position: absolute;
  top: 28px;
  left: 30px;
}

.privacy-quote__author {
  position: relative;
  color: #009974;
  text-align: right;
  padding-right: 80px;
}

.privacy-quote__author::before {
  content: url(../img/privacy/quote_2.svg);
  position: absolute;
  top: 2px;
  right: 32px;
}

.partners__block {
  margin-bottom: 187px;
}

.partners .banner__photos {
  top: 32px;
}

.partners .photo-block:first-child {
  bottom: 22%;
  right: 92%;
}

.banner-partner .banner__title {
  max-width: 500px;
}

.banner-partner .banner__content {
  width: 100%;
}

.banner__btns {
  display: flex;
}

.banner__btns .btn:not(:last-child) {
  margin-right: 24px;
}

.partners__fly-icon {
  position: absolute;
  z-index: 3;
}

.partners__fly-icon--center-bottom {
  bottom: -28px;
  left: 43%;
  transform: translateX(-50%);
}

.partners__fly-icon--right {
  top: 80px;
  right: 51px;
}

.banner-partner--hotel .partners__fly-icon {
  position: absolute;
  z-index: 3;
}

.banner-partner--hotel .partners__fly-icon--right {
  top: 15px;
  right: 140px;
}

.banner-partner--tour .partners__fly-icon {
  position: absolute;
  z-index: 3;
}

.banner-partner--tour .partners__fly-icon--right {
  top: 80px;
  right: 295px;
}

.partners-more__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
}

.partners-more__nav {
  width: auto;
}

.partners-more .playbill__categoryes {
  display: block;
}

.partners-more .playbill-category {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  width: 100%;
  border: 2px solid #009974;
}

.partners-more .playbill-category:hover {
  background: #009974;
  color: #fff;
}

.site-map {
  padding-bottom: 150px;
}

.site-map__title {
  padding-left: 60px;
  margin-bottom: 70px;
}

.site-map__wrapper {
  padding-left: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.site-map__left {
  flex-grow: 1;
  margin-right: 30px;
}

.site-map__nav-item:not(:last-child) {
  margin-bottom: 34px;
}

.site-map__nav-link-main {
  font-weight: bold;
  color: #009974;
}

.site-map__nav-list {
  position: relative;
  padding-left: 40px;
  margin-top: 20px;
}

.site-map__nav-list::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 13px;
  width: 2px;
  background: #009974;
}

.site-map__nav-elem:not(:last-child) {
  margin-bottom: 10px;
}

.site-map__nav-link {
  color: #213A8F;
}

.site-map__nav-sublist {
  position: relative;
  padding-left: 40px;
}

.site-map__nav-sublist::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  bottom: 13px;
  width: 2px;
  background: #213A8F;
}

.site-map__right {
  max-width: 240px;
  width: 100%;
}

.site-map__photo:not(:last-child) {
  margin-bottom: 72px;
}

.site-map__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.border-zones__wrapper {
  padding-left: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.border-zones__content {
  max-width: 540px;
  width: 100%;
  margin-right: 30px;
}

.border-zones__block:not(:last-child) {
  margin-bottom: 70px;
}

.border-zones__title {
  margin-bottom: 40px;
}

.border-zones__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 32px;
}

.border-zones__photos {
  position: relative;
  flex: 0 0 530px;
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
}

.border-zones__descr-block {
  position: absolute;
  top: 74px;
  left: -50px;
}

.border-zones__photo {
  margin: 10px;
}

.border-zones__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.border-maps {
  margin-bottom: 99px;
}

.border-maps__info {
  padding-left: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 100px;
}

.border-maps__content {
  max-width: 540px;
  width: 100%;
  margin-right: 30px;
}

.border-maps__photos {
  max-width: 500px;
  width: 100%;
  display: flex;
}

.border-maps__photo:not(:last-child) {
  margin-right: 20px;
}

.border-maps__photo img {
  display: block;
  width: 100%;
  height: auto;
}

#map-ootp,
#map-zones {
  width: 100%;
  min-height: 372px;
}

#map-ootp {
  display: none;
}

.custom-map__choose-map {
  top: 24px;
  left: 32px;
}

.custom-map__text-control {
  bottom: 24px;
  left: 32px;
}

.choose-map__radios {
  display: flex;
}

.choose-map__radios .costum-radio {
  white-space: nowrap;
}

.choose-map__radios .costum-radio:not(:last-child) {
  margin-right: 20px;
}

.choose-map__radios .costum-radio .control_indicator {
  right: 0;
}

.ooptt-form {
  padding: 0;
}

.ooptt-form .ooptt-form__checkbox:not(:last-child) {
  margin-bottom: 10px;
}

.ooptt-form .fixed-pay__form-checkboxes {
  margin-bottom: 15px;
}

.ootp-map-label {
  position: absolute;
  top: 53px;
  left: -27px;
  width: 100px !important;
  white-space: normal;
  text-align: left;
  overflow: visible;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #213A8F;
  text-shadow: 0px 1px 0 white, 0px -1px 0 white, 1px 0px 0 white, -1px 0px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white, 0px 2px 0 white, 0px -2px 0 white, 2px 0px 0 white, -2px 0px 0 white, 2px 2px 0 white, 2px -2px 0 white, -2px 2px 0 white, -2px -2px 0 white;
}

.aurora-block {
  margin-bottom: 100px;
}

.aurora-photos {
  margin-bottom: 150px;
}

.aurora-photos__level-inner {
  position: relative;
  z-index: 5;
}

.aurora-photos__wrapper {
  margin-top: -75px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.aurora-photos__photo:not(:last-child) {
  margin-right: 72px;
}

.aurora-photos__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.aurora-photos__top {
  padding-left: 80px;
}

.light-level {
  min-height: 200px;
  background: linear-gradient(270deg, #009974 0%, #213A8F 100%);
  box-shadow: 0px 7px 40px -7px rgba(0, 0, 0, 0.3);
  margin-right: 0;
  margin-left: auto;
  position: relative;
  max-width: 1040px;
  width: 100%;
  z-index: 5;
  padding-left: 130px;
  border-radius: 12px;
}

.light-level #planet {
  position: absolute;
  top: -90px;
  left: -167px;
  display: inline-block;
}

.light-level #globe {
  transform: scale(0.5);
}

.light-level__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.light-level__text-block {
  padding: 10px 0;
  max-width: 320px;
  color: #fff;
  margin-right: 20px;
}

.light-level__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
}

.light-level__block {
  max-width: 480px;
  width: 100%;
  padding: 32px 40px 32px 40px;
  background: #f2f2f2;
  box-shadow: 0px 7px 40px -7px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  position: relative;
  z-index: 2;
}

.light-level__block-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.light-level__block-label {
  padding-left: 42px;
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #213A8F;
}

.light-level__block-label::before {
  content: url(../img/icon/sound-blue.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.light-level__block-level {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #009974;
}

.light-level__block-dates {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.light-level__block-date {
  cursor: pointer;
  text-decoration: underline;
  color: #213A8F;
}

.light-level__block-date.current {
  text-decoration: none;
  color: #009974;
}

.light-level__block-date:not(:last-child) {
  margin-right: 10px;
}

.light-level__block-levels {
  display: flex;
}

.light-level__block-num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  width: 40px;
  height: 40px;
  color: #fff;
}

.light-level__block-num.unactive {
  color: #E4E4E4 !important;
  background-color: #fff !important;
}

.aurora-widjet {
  display: none;
}

.aurora-widjet .widjets-block {
  max-width: 100%;
}

.aurora-widjet .northern-lights-arrow__prev {
  top: 37px !important;
}

.aurora-widjet .northern-lights-arrow__next {
  top: 37px !important;
}

.aurora-content {
  position: relative;
  padding-bottom: 150px;
}

.aurora-content__pattern-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 74px;
  background-image: url(../img/Illustration-line.png);
  background-repeat: repeat-y;
  background-size: contain;
  width: 170px;
  height: 100%;
  z-index: -1;
}

.aurora-content__block:not(:last-child) {
  margin-bottom: 150px;
}

.aurora-content__block-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.aurora-content__text-block {
  max-width: 660px;
  width: 100%;
}

.aurora-content__text p {
  display: block;
}

.aurora-content__text p:not(:last-child) {
  margin-bottom: 24px;
}

.aurora-content__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #009974;
  margin-bottom: 32px;
}

.aurora-content__fly-icon--left {
  top: 100px;
  left: -34px;
}

.aurora-content__photos {
  position: relative;
  display: flex;
  margin-top: -150px;
  margin-bottom: 150px;
}

.aurora-content__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.aurora-content__photo:not(:last-child) {
  margin-right: 72px;
}

.aurora-content__list {
  margin-bottom: 40px;
  margin-top: 40px;
}

.aurora-content__elem {
  position: relative;
  padding-left: 48px;
}

.aurora-content__elem:not(:last-child) {
  margin-bottom: 14px;
}

.aurora-content__elem::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #009974;
  position: absolute;
  top: 12px;
  left: 0;
}

.aurora-map__inner {
  position: relative;
  margin-bottom: 100px;
}

#aurora-map {
  min-height: 372px;
}

.aurora-beauty {
  position: relative;
  margin-bottom: 150px;
}

.aurora-beauty__fly-icon {
  z-index: 6;
}

.aurora-beauty__fly-1 {
  position: absolute;
  left: 6%;
  bottom: 15%;
}

.aurora-beauty__fly-2 {
  position: absolute;
  left: 17%;
  top: 2%;
}

.aurora-beauty__fly-3 {
  position: absolute;
  right: 12%;
  bottom: 2%;
}

.aurora-beauty__fly-4 {
  position: absolute;
  right: 1%;
  top: 2%;
}

.aurora-beauty__fly-4.rellax {
  z-index: 5;
}

.aurora-beauty__wrapper {
  display: flex;
  min-height: 960px;
}

.aurora-beauty__text-block {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.aurora-beauty__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #009974;
  margin-bottom: 32px;
}

.aurora-beauty__text p:not(:last-child) {
  margin-bottom: 24px;
}

.aurora-beauty__photos {
  padding-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.aurora-beauty__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.aurora-beauty__photo:last-child {
  position: relative;
  top: 200px;
}

.aurora-beauty__photo--bottom {
  align-self: flex-end;
}

@media (max-width: 1200px) {
  body.overlay {
    margin-right: 0;
  }

  .partners .photo-block:first-child {
    right: 70%;
  }

  .border-zones__wrapper {
    padding-left: 0;
  }

  .border-zones__descr-block {
    left: -20px;
  }

  .border-maps__info {
    padding-left: 0;
  }

  .aurora-photos__photo:not(:last-child) {
    margin-right: 0;
  }

  .light-level {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
  }

  .light-level__block {
    margin: 0 auto;
  }

  .aurora-content__photos {
    margin-top: -120px;
  }

  .aurora-content__photo--inContent {
    display: none;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }

  .section-title {
    font-size: 30px;
    line-height: 36px;
  }

  .banner-link {
    font-size: 12px;
    line-height: 18px;
  }

  .banner-link span {
    margin-right: 10px;
  }

  .faq__title {
    margin-bottom: 40px;
  }

  .cabinet-numbers.faq__wrapper {
    display: grid;
    grid-gap: 30px 20px;
  }

  .about__container {
    padding: 0 24px;
  }

  .about-unit__text-block {
    max-width: 540px;
  }

  .about-banner__title {
    max-width: 540px;
    padding-left: 0;
    text-align: center;
  }

  .about-banner__fly-icon {
    display: none;
  }

  .about-feature__inner {
    padding-right: 0px;
  }

  .about-feature__border-photo {
    display: none;
  }

  .about-feature__content {
    max-width: 540px;
    margin-left: auto;
  }

  .about-feature__photo:not(:last-child) {
    margin-right: 0;
  }

  .about-feature__photo:first-child {
    width: 50%;
  }

  .about-feature__photo:nth-child(2) {
    width: 25%;
  }

  .about-feature__photo:last-child {
    width: 25%;
  }

  .about-feature__pattern-bg {
    left: 0;
  }

  .about-landmarks__back-photo:first-child {
    top: 280px;
  }

  .about-landmarks__back-photo:not(:last-child) {
    margin-right: 0;
  }

  .about-landmarks__fly-icon {
    display: none;
  }

  .about-active__content {
    max-width: 540px;
  }

  .about-active__photo {
    display: none;
  }

  .hover-photo {
    filter: grayscale(0%);
  }

  .green-title {
    margin-bottom: 28px;
  }

  .privacy__wrapper {
    padding-left: 0;
    max-width: 540px;
  }

  .partners__block {
    margin-bottom: 130px;
  }

  .partners .photo-block:first-child {
    right: 33%;
  }

  .partners__fly-icon--right {
    top: -15px;
    right: 0;
  }

  .banner-partner--hotel .partners__fly-icon--right {
    top: -15px;
    right: 0;
  }

  .banner-partner--tour .partners__fly-icon--right {
    top: -15px;
    right: 0;
  }

  .partners-more .playbill-category {
    flex: auto;
  }

  .site-map__title {
    padding-left: 0;
  }

  .site-map__wrapper {
    padding-left: 0;
  }

  .site-map__right {
    max-width: 180px;
  }

  .border-zones__title {
    margin-bottom: 36px;
  }

  .border-zones__subtitle {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 28px;
  }

  .border-zones__photos {
    flex: 0 1 auto;
    display: block;
    margin: 0;
    max-width: 258px;
    width: 100%;
  }

  .border-zones__photo {
    margin: 0;
    display: none;
  }

  .border-zones__photo--first,
  .border-zones__photo--second {
    display: block;
  }

  .border-zones__photo:not(:last-child) {
    margin-bottom: 20px;
  }

  .border-zones__photo img {
    height: 100%;
  }

  .border-maps__photos {
    max-width: 258px;
    display: block;
  }

  .border-maps__photo:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .border-maps__inner {
    display: none;
  }

  .aurora-content__pattern-bg {
    right: 0;
  }

  .aurora-content__photo:not(:last-child) {
    margin-right: 0;
  }

  .aurora-map__inner {
    display: none;
  }

  .aurora-beauty {
    display: none;
  }
}

@media (max-width: 767px) {
  .cabinet-numbers.faq__wrapper {
    display: block;
  }

  .cabinet-numbers.faq__wrapper .cabinet-numbers__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .about-item:nth-child(3n) {
    margin-right: 5%;
  }

  .about-item:nth-child(2n) {
    margin-right: 0;
  }

  .about-item {
    width: 45%;
    margin-right: 5%;
  }

  .about-item--big {
    width: 45%;
  }

  .about-landmarks__back {
    display: none;
  }

  .about-active {
    margin-bottom: 70px;
  }

  .about-active__wrapper {
    margin-bottom: 70px;
  }

  .green-title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .recomeded-tour {
    margin-bottom: 100px;
  }

  .error-page {
    padding-bottom: 0;
  }

  .error-page .personal-cabinet__inner {
    padding-bottom: 0;
  }

  .privacy {
    padding-bottom: 70px;
  }

  .privacy:not(:last-child) {
    margin-bottom: 50px;
  }

  .privacy__title {
    margin-bottom: 50px;
  }

  .privacy__block-title {
    margin-bottom: 32px;
  }

  .privacy__block:not(:last-child) {
    margin-bottom: 40px;
  }

  .privacy__text {
    margin-bottom: 32px;
  }

  .privacy__text p:not(:last-child) {
    margin-bottom: 16px;
  }

  .partners__fly-icon {
    display: none;
  }

  .site-map {
    padding-bottom: 100px;
  }

  .site-map__title {
    margin-bottom: 50px;
  }

  .border-zones__wrapper {
    flex-direction: column-reverse;
  }

  .border-zones__content {
    max-width: 100%;
    margin-right: 0;
  }

  .border-zones__block:not(:last-child) {
    margin-bottom: 40px;
  }

  .border-zones__photos {
    padding-top: 20px;
    padding-left: 0;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }

  .border-zones__descr-block {
    top: -10px;
    left: 0;
  }

  .border-zones__photo {
    margin: 0;
  }

  .border-zones__photo--first {
    margin-right: 20px;
  }

  .border-maps__info {
    flex-direction: column-reverse;
  }

  .border-maps__content {
    max-width: 100%;
    margin-right: 0;
  }

  .border-maps__photos {
    max-width: 100%;
    display: flex;
    margin-bottom: 45px;
  }

  .border-maps__photo:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .aurora-block {
    padding-top: 20px;
    margin-bottom: 250px;
  }

  .aurora-photos {
    margin-bottom: 100px;
  }

  .aurora-photos__wrapper {
    display: none;
  }

  .aurora-photos__top {
    padding-left: 0;
  }

  .light-level {
    margin-bottom: 50px;
    padding-left: 10px;
  }

  .light-level #planet {
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .light-level__block {
    display: none;
  }

  .aurora-widjet {
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }

  .aurora-content__pattern-bg {
    display: none;
  }

  .aurora-content__block:not(:last-child) {
    margin-bottom: 70px;
  }

  .aurora-content__photos {
    margin-top: -20px;
  }
}

@media (max-width: 568px) {
  .section-title {
    font-size: 20px;
    line-height: 24px;
  }

  .banner-link {
    display: none;
  }

  .about__container {
    padding: 0 10px;
  }

  .about__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-item:nth-child(3n) {
    margin-right: 0;
  }

  .about-item:nth-child(2n) {
    margin-right: 0;
  }

  .about-item {
    max-width: 250px;
    width: 100%;
    margin-right: 0;
  }

  .about-item__descr {
    font-size: 14px;
  }

  .about-unit .container {
    padding: 0 10px;
  }

  .about-unit__text-block {
    padding: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    background: none;
  }

  .about-banner__photo {
    min-height: 320px;
  }

  .about-banner__content {
    background: #f2f2f2;
    padding: 24px 10px;
    margin-top: 0;
  }

  .about-banner__title {
    text-align: left;
    color: #000;
    margin-bottom: 24px;
  }

  .about-feature {
    padding-top: 70px;
    margin-bottom: 70px;
  }

  .about-feature__photos {
    display: none;
  }

  .about-landmarks {
    padding-bottom: 0;
    margin-bottom: 70px;
  }

  .error-window .cabinet-window__btn {
    width: auto;
  }

  .privacy__block-title-small {
    font-size: 18px;
    line-height: 24px;
  }

  .partners {
    padding-top: 30px;
  }

  .partners__block {
    margin-bottom: 90px;
  }

  .site-map__left {
    margin-right: 0;
  }

  .site-map__nav {
    font-size: 14px;
    line-height: 20px;
  }

  .site-map__right {
    display: none;
  }

  .border-zones__photo img {
    height: auto;
  }

  .aurora-content__fly-icon {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .container {
    padding-left: 64px;
  }
}